html
  head
    link(rel="stylesheet" href="assets/stylesheets/main.css") 
  body
    header
      .large-hero
        
      nav.nav.nav--right
        ul.nav__list.nav__list--inline
          li.nav__item
            a About Us
          li.nav__item
            a Our Team
          li.nav__item
            a Gallery
          li.nav__item
            a FAQ
          li.nav__item
            a Pre Care Advice
          li.nav__item
            a Tatto Courses
          li.nav__item
            a Blog
          li.nav__item
            a Contact
          li.nav__item.nav__item--standout
            a pl

      .social-media   
        ul.social-media__list
          li.social-media__item F
          li.social-media__item F
          li.social-media__item F 

    section#about-us.page-section
      .wrapper.wrapper--small
        h2.headline About Us
        .page-section__content
          |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus molestie, venenatis erat vitae, lobortis dolor. Aliquam erat volutpat. Aenean velit neque, consequat sollicitudin turpis quis, rhoncus tempor lorem. Quisque vitae dolor eget nunc posuere interdum sed ultrices justo. Quisque laoreet a mauris quis tempor. Phasellus sollicitudin cursus facilisis. Phasellus massa ante, lacinia ac metus eu, dapibus lacinia nisl.
        a.btn More

    section#about-us.page-section
      .wrapper
        h2.headline Our team
        .page-section__content.row

          


      



      
    

    
    
    script(src="assets/app/app.js")    