.btn {
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid $secondaryColor;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  transition: $animationTime;

  &:hover {
    background-color: $primaryColor; 
    color: #fff;
  }
}