$hero--height: 50vh;
$hero--max-height: 700px;

.large-hero {
  background: url(../img/hero-image.jpg) 50%;
  background-size: cover;    
  width: 100%;
  height: $hero--height;
  max-height: $hero--max-height;
}