.logo {  
  width: 100%;
  height: auto;  

  &--large-hero {
    position: absolute;
    max-width: 600px;
    transform: translateY(-50%) translateX(-50%);    
    top: 50%;
    left: 50%;
  }

  &-navbar {
    height: 80px;
    transition: transform 0.5s ease-in-out,
        background-color .1s ease-in-out,
        opacity 0.5s ease-in-out,
        scale 1.6s ease-in-out;
    transform: translateY(-100%) translateX(100%) scale(2);  
    opacity: 0;
    text-align: left;

    &--is-visible {
      transform: translateY(0) translateX(0) scale(1);   
      opacity: 1;   
      svg {
        width: 50%;
        background: #fff;
      }
    }

    path {
      fill: #000!important;
    }
  }


  &--subpage {
    max-width: 480px;
  }
}