.page-section {
  padding-top: 70px;
  &:not(:last-child) {
    padding-bottom: 70px;
  }
  @include atMedium {
    padding-top: 125px;
    &:not(:last-child) {
      padding-bottom: 125px;
    }
  }

  &__content {
    padding-top: 65px;
    line-height: 1.6;

    &--subsection {
      padding: 50px 0;
    }

    &--padding-bot {      
      padding-bottom: 90px;
    }
  }
}

header {
  padding-bottom: 70px;
  @include atMedium {
    padding-bottom: 125px;
  }
}

#contact {
  padding-top: 70px;
  @include atMedium {
    padding-top: 125px;
  }
}

