/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row--grid::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #303346;
}

@media (min-width: 640px) {
  body {
    font-size: 1.125rem;
  }
}

a {
  text-decoration: none;
}

a:link, a:hover, a:visited, a:active {
  color: inherit;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.large-hero {
  background: url(../img/hero-image.jpg) 50%;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 85vh;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: auto;
  max-width: 600px;
}

.nav {
  padding-top: 40px;
}

@media (min-width: 640px) {
  .nav {
    padding-top: 60px;
  }
}

.nav--right {
  float: right;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}

.nav__item {
  display: inline-block;
}

.nav__item:not(:last-child) {
  padding-right: 30px;
}

.nav__item--standout {
  color: #ff6c00;
  font-weight: 700;
}

.nav__link {
  line-height: 2;
  transition: all 0.2s ease;
}

.nav__link:hover {
  color: #ff6c00;
}

.social-media {
  position: fixed;
  left: 0;
  top: 85%;
}

.social-media__list {
  list-style: none;
  vertical-align: middle;
  display: inline-block;
}

.wrapper {
  max-width: 1800px;
  padding: 0 25px;
  margin: auto;
  text-align: center;
}

.wrapper--small {
  max-width: 950px;
}

.wrapper--left {
  max-width: 970px;
  margin-right: 0;
  padding: 50px 25px;
}

@media (min-width: 800px) {
  .wrapper--left {
    padding: 60px 70px;
    text-align: left;
  }
}

.wrapper--right {
  max-width: 970px;
  margin-left: 0;
  padding: 50px 25px;
}

@media (min-width: 800px) {
  .wrapper--right {
    padding: 60px 70px;
    text-align: left;
  }
}

@media (min-width: 1600px) {
  .wrapper--contact {
    padding-right: 165px;
  }
}

.wrapper--map {
  padding: 0;
}

.wrapper--text-left {
  max-width: 1500px;
  text-align: left;
}

.page-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (min-width: 800px) {
  .page-section {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}

.page-section__content {
  padding-top: 65px;
  line-height: 1.6;
}

.page-section__content--subsection {
  padding: 50px 0;
}

.page-section__content--padding-bot {
  padding-bottom: 90px;
}

.page-section--last {
  padding-bottom: 0;
}

.page-section--first {
  padding-top: 0;
}

.page-section--breadcrumbs {
  padding-top: 70px;
  padding-bottom: 100px;
}

header {
  padding-bottom: 70px;
}

@media (min-width: 800px) {
  header {
    padding-bottom: 125px;
  }
}

#contact {
  padding-top: 70px;
}

@media (min-width: 800px) {
  #contact {
    padding-top: 125px;
  }
}

.headline {
  display: inline-block;
  min-width: 130px;
  font-size: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
  border-bottom: 10px solid #303346;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid #ff6c00;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #303346;
  color: #fff;
}

[class*='col-'] {
  width: 100%;
  float: none;
}

@media (min-width: 640px) {
  .col-small-1 {
    width: 8.33333%;
    float: left;
  }
  .col-small-2 {
    width: 16.66667%;
    float: left;
  }
  .col-small-3 {
    width: 25%;
    float: left;
  }
  .col-small-4 {
    width: 33.33333%;
    float: left;
  }
  .col-small-5 {
    width: 41.66667%;
    float: left;
  }
  .col-small-6 {
    width: 50%;
    float: left;
  }
  .col-small-7 {
    width: 58.33333%;
    float: left;
  }
  .col-small-8 {
    width: 66.66667%;
    float: left;
  }
  .col-small-9 {
    width: 75%;
    float: left;
  }
  .col-small-10 {
    width: 83.33333%;
    float: left;
  }
  .col-small-11 {
    width: 91.66667%;
    float: left;
  }
  .col-small-12 {
    width: 100%;
    float: left;
  }
}

@media (min-width: 800px) {
  .col-medium-1 {
    width: 8.33333%;
    float: left;
  }
  .col-medium-2 {
    width: 16.66667%;
    float: left;
  }
  .col-medium-3 {
    width: 25%;
    float: left;
  }
  .col-medium-4 {
    width: 33.33333%;
    float: left;
  }
  .col-medium-5 {
    width: 41.66667%;
    float: left;
  }
  .col-medium-6 {
    width: 50%;
    float: left;
  }
  .col-medium-7 {
    width: 58.33333%;
    float: left;
  }
  .col-medium-8 {
    width: 66.66667%;
    float: left;
  }
  .col-medium-9 {
    width: 75%;
    float: left;
  }
  .col-medium-10 {
    width: 83.33333%;
    float: left;
  }
  .col-medium-11 {
    width: 91.66667%;
    float: left;
  }
  .col-medium-12 {
    width: 100%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-large-1 {
    width: 8.33333%;
    float: left;
  }
  .col-large-2 {
    width: 16.66667%;
    float: left;
  }
  .col-large-3 {
    width: 25%;
    float: left;
  }
  .col-large-4 {
    width: 33.33333%;
    float: left;
  }
  .col-large-5 {
    width: 41.66667%;
    float: left;
  }
  .col-large-6 {
    width: 50%;
    float: left;
  }
  .col-large-7 {
    width: 58.33333%;
    float: left;
  }
  .col-large-8 {
    width: 66.66667%;
    float: left;
  }
  .col-large-9 {
    width: 75%;
    float: left;
  }
  .col-large-10 {
    width: 83.33333%;
    float: left;
  }
  .col-large-11 {
    width: 91.66667%;
    float: left;
  }
  .col-large-12 {
    width: 100%;
    float: left;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 640px) {
  .row--space-around {
    justify-content: space-around;
  }
}

@media (min-width: 640px) {
  .row--space-between {
    justify-content: space-between;
  }
}

@media (min-width: 640px) {
  .row--center-vertical {
    height: 100%;
    align-items: center;
  }
}

.col-gutter--gallery {
  padding-left: 6px;
  padding-right: 6px;
}

.team-member {
  width: 100%;
  max-width: 435px;
  padding-bottom: 60px;
  text-align: center;
}

@media (min-width: 640px) {
  .team-member {
    width: 22%;
  }
}

@media (min-width: 1200px) {
  .team-member {
    width: 20%;
  }
}

.team-member__photo {
  width: 100%;
  height: 400px;
  object-position: 0 0;
}

@media (min-width: 640px) {
  .team-member__photo {
    height: auto;
  }
}

.team-member__title, .team-member__subtitle {
  text-align: left;
  line-height: 1.2;
  font-size: 1.5rem;
}

@media (min-width: 640px) {
  .team-member__title, .team-member__subtitle {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .team-member__title, .team-member__subtitle {
    font-size: 2rem;
  }
}

.team-member__title {
  margin-top: 0.6rem;
  font-weight: 900;
}

.team-member__subtitle {
  font-weight: 300;
}

.gallery__item {
  width: 100%;
  max-width: 300px;
  display: inline-block;
}

.blog-post {
  max-width: 450px;
  width: 100%;
}

.blog-post:not(:last-child) {
  margin-bottom: 60px;
}

@media (min-width: 800px) {
  .blog-post:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 800px) {
  .blog-post {
    width: 28%;
  }
}

.blog-post--margin-bot {
  margin-bottom: 70px !important;
}

@media (min-width: 800px) {
  .blog-post--margin-bot {
    margin-bottom: 120px !important;
  }
}

.blog-post--content {
  max-width: none;
  width: 100%;
}

.blog-post__header {
  line-height: 2;
  padding-bottom: 50px;
}

.blog-post__title {
  font-size: 1.5rem;
  line-height: 1.5;
}

.blog-post__title--large {
  font-size: 2.25rem;
}

.blog-post__author, .blog-post__date {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
}

.blog-post__taxonomy {
  font-size: 0.75rem;
  color: #bcbec0;
}

.blog-post__photo {
  width: 100%;
  margin-bottom: 35px;
}

.blog-post__photo--content {
  max-width: 810px;
  margin-bottom: 60px;
}

.blog-post__excerpt {
  text-align: left;
}

.contact-details {
  margin-bottom: 40px;
  line-height: 2;
}

@media (min-width: 1200px) {
  .contact-details {
    padding-right: 40px;
  }
}

#map {
  width: 100%;
  height: 570px;
}

@media (min-width: 1200px) {
  #map {
    height: 400px;
  }
}

.input {
  display: inline-block;
  width: 100%;
  min-width: 250px;
  max-width: 450px;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  color: inherit;
  transition: all 0.2s ease;
}

.input--textarea {
  min-height: 135px;
  resize: none;
}

.input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.input:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  opacity: 1;
}

.input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  opacity: 1;
}

.input:focus {
  border-color: #bcbec0;
}

footer {
  padding: 1rem 0;
  background-color: #d5d5d5;
  font-size: 0.75rem;
  line-height: 1.5;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item--current {
  text-decoration: underline;
}

.breadcrumbs__link {
  transition: all 0.2s ease;
}

.breadcrumbs__link:hover {
  color: #ff6c00;
}

.generic-content {
  line-height: 1.4;
  font-size: 1rem;
}

.generic-content p {
  margin-bottom: 1.25em;
}

.background--dark {
  background-color: #303346;
  color: #fff;
}

.background--dark .btn:hover {
  background-color: #fff;
  color: #303346;
}

.background--dark .headline {
  border-bottom: 10px solid #fff;
}
